body{
    
    background: rgb(33,150,243);
    background: linear-gradient(90deg, rgba(33,150,243,1) 0%, rgba(9,9,121,1) 97%); 
}

.title{
    text-align: center;
    color: white;
}

.form{
    height: 270px;
    width: 600px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    background-color: bisque;
    margin: 0 auto;
    box-shadow: -15px 18px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px 18px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 18px 19px 0px rgba(0,0,0,0.75);
       
}



.añadir{
    cursor: pointer;
    margin-left: 90px;
}

.search{
    padding: 30px;
    font-size: 45px;
    
    display: flex;
    gap: 5px;
}

.buscador{
    width: 60%;
    height: 35px;
    
}

.tabla{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    margin: 45px auto;
    color: white;
    
}

.tabla td{
    border: 2px solid;
    padding: 10px;
}

.tabla th{
    border: 2px solid;
    padding: 15px 80px;
}
