@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/static/RobotoSlab-Regular.ttf");
}
body {
    background: rgb(33, 150, 243);
    background: linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(9, 9, 121, 1) 97%);
}

.button{
    background: rgb(0, 0, 0);
    border: none;
    color: white;
    border-radius: 7px;
    font-family: Roboto;
    cursor: pointer;
    
}


.action-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}

.button.action{
    width: 130px;
    padding: 10px;
    
}

.button.action2{
    padding: 10px;
    width: 130px;
}

.button.search1{
    width: 80px;
}

.title {
    text-align: center;
    color: white;
}

.form {

    height: 200px;
    width: 600px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    background-color: #dcdcdc;
    margin: 0 auto;
    box-shadow: -15px 18px 19px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -15px 18px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 18px 19px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    justify-content: center;

}

.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* Divide en tres columnas */
    align-items: center;
    padding: 15px;

}

.logo-farmacia {
    text-align: left;
    margin-left: 50px;
}

.gestion-inventario {
    text-align: center;
}

.titleh1 {
    font-size: 30px;
    color: white;
}

.menu-bar {
    margin-right: 50px;
    cursor: pointer;
}

.hamburger-icon {
    width: 40px;
    height: 40px;
    transition: 0.4s;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 120px;
    right: 50px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    text-align: center;
    padding: 10px 20px;
}

.active{
    display: block;
}


.log-out-link {
    color: #333;
    text-decoration: none; 
}


.hamburger-icon.active {
    opacity: 0;
}



.añadir {
    cursor: pointer;
    margin-left: 90px;
}

.search {
    font-size: 45px;
    display: flex;
    gap: 5px;
}

.buscador {
    width: 60%;
    height: 35px;

}

.tabla {
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    margin: 45px auto;
    color: white;

}

.tabla td {
    border: 3px solid;
    padding: 18px;
}

.tabla th {
    border: 3px solid;
    padding: 18px 80px;
}